<div id="about-me">
  <div class="text-wrapper">
    <div class="text">
      <h2 class="section-header">O mnie</h2>
      <div class="section-text">
        <p>Mam 23 lata i mieszkam w Łodzi. W wolnym czasie poświęcam się swojej głównej pasji jaką niewątpliwie jest
          programowanie.
          Oprócz tego interesuję się również astronomią oraz najnowszą technologią. W wieku 21 lat zacząłem prace jako
          programista udowadniając swoją kreatywność i chęć do ciągłych wyzwań.</p>

        <p> Swoją przygodę z kodowaniem zacząłem w szkole średniej gdzie zdobyłem specjalizacje technika informatyka.
          Po skończeniu technikum dostałem się na Politechnike Łódzką na
          Wydział Elektrotechniki, Elektroniki, Informatyki i Automatyki.
          Studiowałem tam przez dwa lata kierunek Systemy Sterowania Inteligentnymi Budynkami (dziennie),
          a następnie z powodu znalezienia swojej pierwszej pracy jako programista, zmieniłem typ i kierunek studiów na
          Informatyke zaoczną,
          na których jestem do tej pory.
        </p>
      </div>
    </div>
  </div>
  <div class="image-wrapper">
    <img class="image" src="../../../assets/images/hoodie.jpg">
  </div>
</div>
