<div id="about-me">
  <div class="text-wrapper">
    <div class="text">
      <h2 class="section-header">O mnie</h2>
      <div class="section-text">
        <p>Cześć jestem Mateusz! Posiadam {{exp}}-letnie doświadczenie jako programista. W wolnym czasie poświęcam się swojej głównej pasji - programowaniu. Oprócz tego interesuję się
          astronomią oraz najnowszą technologią. W wieku 21 lat zacząłem prace jako developer, udowadniając swoją kreatywność i chęć do ciągłego
          podejmowania wyzwań.
        </p>

        <p> Swoją przygodę z kodowaniem zacząłem w szkole średniej, gdzie zdobyłem tytuł technika informatyka.
          Po skończeniu technikum zacząłem naukę na Politechnice Łódzkiej, na Wydziale Elektrotechniki, Elektroniki, Informatyki i Automatyki.
          Studiowałem tam przez dwa lata kierunek Systemy Sterowania Inteligentnymi Budynkami. a następnie z powodu podjęcia pierwszej 
          komercyjnej pracy jako programista, zmieniłem kierunek studiów na informatykę w trybie zaocznym. Obecnie łączę edukacje z pracę zawodową na 
          stanowisku full stack developera w jednej z łódzkich firm.
        </p>
      </div>
    </div>
  </div>
  <div class="image-wrapper">
    <img class="image" src="../../../assets/images/hoodie.jpg">
  </div>
</div>
