@import '../../styles/colors.scss';
@import '../../styles/shared.scss';

.image-wrapper,
.text-wrapper {
  float: right;
}

#about-me {
  background-color: $primary-white;
}

.text-wrapper {
  width: 65%;
  color: $primary-black;
}

.section-text, .section-header {
  color: $primary-black;
}

.text {
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  color: $primary-black;

  p {
    padding: 0 20px;
  }
}

.image-wrapper {
  text-align: center;
  width: 35%;
  height: 100%;

  .image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: auto;
  }
}

@media (max-width: 767px) {
  #about-me {
    padding-top: 50px;
  }
  .image-wrapper,
  .text-wrapper {
    float: none;
    width: 100%;
    margin: 0;
  }

  .image-wrapper {
    padding-top: 5px;
    height: 50%;

    .image {
      height: 100%;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}
