<div id="career">
  <h2 class="section-header">Moja kariera</h2>
  <div class="timeline">
    <div class="line">
    </div>
    <div class="timeline-point">
      <div class="year">
        <b>Grudzień 2018</b>
      </div>
    </div>
    <div class="box">
      <div class="frame right">
        <div class="dot"></div>
        <img class="image" src="../../assets/images/acc_logo.png">
        <div class="position">
          Junior Java Developer
        </div>
        <div class="text">
          <p class="section-text">
            Mój pierwszy projekt w życiu do jakiego zostałem wyznaczony polegał na stworzeniu aplikacji
            do dodawania różnych ogłoszeń wewnątrz firmy. Tworzyłem tę aplikację samodzielnie, więc nie spodziewałem się
            świetnych rezultatów.
            Mimo wszystko dzięki tej próbie nauczyłem się masy rzeczy z dziedziny tworzenia i działania aplikacji
            webowych.
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-point">
      <div class="year">
        <b>Sierpień 2019</b>
      </div>
    </div>
    <div class="box">
      <div class="frame">
        <div class="dot"></div>
        <img class="image" src="../../assets/images/tt_logo.png">
        <div class="position">
          Java Developer
        </div>
        <div class="text">
          <p class="section-text">
            Była to moja pierwsza praca w zespole Scrum'owym.
            Przekonałem się na własnej skórze jak wygląda praca w dużym komercyjnym projekcie.
            Dotyczył on tematyki IOT, w którym rozwijaliśmy pojedynczy moduły.
            Był to projekt realizowany dla dużej Amerykańskiej korporacji co pozwoliło mi na podszlifowanie swojego
            angielskiego w rozmowie z klientem.
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-point">
      <div class="year">
        <b>Marzec 2020</b>
      </div>
    </div>
    <div class="box">
      <div class="frame right">
        <div class="dot"></div>
        <img class="image" src="../../assets/images/makolab_logo.png">
        <div class="position">
          Fullstack Developer
        </div>
        <div class="text">
          <p class="section-text">
            Jest to firma, w której najwięcej się nauczyłem. Swoją wiedze poszerzałem dzięki wskazówkom bardziej doświadczonych kolegów z zespołu.
            Mimo krótkiego stażu biorę udział już w trzecim projekcie.
            Pierwsze dwa były powiązane z tematyką automotive, a aktualny projekt, na którym jestem, jest tworzony dla klienta, który dostarcza rozwiązania informatyczne dla różnych lini lotniczych.
            W Makolabie mogłem spełnić swoje marzenie i to tutaj rozpocząłem pracę jako Fullstack developer wykorzystując Jave, Angulara oraz większość poznanych do tej poray narzędzi</p>
        </div>
      </div>
    </div>
  </div>
</div>
