<div id="career">
  <h2 class="section-header">Career timeline</h2>
  <div class="timeline">
    <div class="line">
    </div>
    <div class="timeline-point">
      <div class="year">
        <b>December 2018</b>
      </div>
    </div>
    <div class="box">
      <div class="frame right">
        <div class="dot"></div>
        <img class="image" src="../../assets/images/acc_logo.png">
        <div class="position">
          Junior Java Developer
        </div>
        <div class="text">
          <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem labore quis in
            accusamus inventore ab?
            Fuga quisquam laboriosam reprehenderit pariatur id ipsa est dolorum similique magnam modi, facere,
            quam
            aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad exercitationem, ex totam
            quos
            pariatur? Itaque, veniam debitis natus facere sit corporis. Laborum nulla suscipit maiores illum
            minus
            excepturi similique.</p>
        </div>
      </div>
    </div>
    <div class="timeline-point">
      <div class="year">
        <b>August 2019</b>
      </div>
    </div>
    <div class="box">
      <div class="frame">
        <div class="dot"></div>
        <img class="image" src="../../assets/images/tt_logo.png">
        <div class="position">
          Java Developer
        </div>
        <div class="text">
          <p class="section-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis cum porro
            velit
            blanditiis officiis est
            vero necessitatibus accusantium adipisci qui ducimus suscipit voluptate aliquam cupiditate, soluta
            veniam, at incidunt? Inventore! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque non
            optio et id, corrupti harum ipsum molestias enim fugit, voluptatum eius veniam molestiae amet nam
            soluta
            velit laborum tenetur facilis.</p>
        </div>
      </div>
    </div>
    <div class="timeline-point">
      <div class="year">
        <b>March 2020</b>
      </div>
    </div>
    <div class="box">
      <div class="frame right">
        <div class="dot"></div>
        <img class="image" src="../../assets/images/makolab_logo.png">
        <div class="position">
          Fullstack Developer
        </div>
        <div class="text">
          <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quisquam, ut
            maxime
            debitis fugiat modi
            velit temporibus veniam dicta eius cupiditate dolores tenetur quaerat deleniti provident obcaecati,
            vitae mollitia nemo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut explicabo nulla
            libero
            placeat quasi voluptates, expedita natus atque! Eos ratione dolores esse atque? Vero quos sed
            impedit,
            ex accusantium ipsa.</p>
        </div>
      </div>
    </div>
  </div>
</div>
