@import '../../colors.scss';
@import '../../shared.scss';

.image-wrapper,
.text-wrapper {
  float: left;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-wrapper {
  width: 70%;
  color: $primary-white-1;
}

.text {
  max-width: 600px;
  margin: 0 auto;

  p {
    text-align: justify;
  }
}

.image-wrapper {
  width: 30%;
  height: 100%;

  .image {
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: auto;
  }
}

@media (max-width: 767px) {

  .image-wrapper,
  .text-wrapper {
    float: none;
    width: 100%;
    margin: 0;
  }

  .image-wrapper {
    padding-top: 5px;
    height: 50%;

    .image {
      height: 100%;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}
