@import '../../../styles/colors';

.media {
  width: 100px;
  height: 100vh;
  display: table-cell;
  vertical-align: bottom;
}

.icon {
  display: block;
  text-decoration: none;
  color: $primary-white;
  width: auto;
  height: auto;
  margin-bottom: 50px;
  font-size: 25px;
  transition: .3s;
  transform: translateY(-10%);

  &:hover {
    cursor: pointer;
    color: $primary-white;
    transform: scale(1.5);
    text-shadow: 0 0 5px rgb(236, 174, 3);
  }
}
