@import '../../styles/shared.scss';

#cover {
  height: 100vh;
  width: 100%;
}

.image {
  height: 100vh;
  width: 100%;
  //background-image: url("../../../assets/images/cover1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (max-width: 767px) {
  .image {
    width: 0;
  }
}
