@import '../../colors.scss';

#sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  text-align: center;
  color: $primary-white-1;
  background-color: $primary-black;
  border-right: 1px solid $gray;
  transition: .5s;
  z-index: 1;
}

.visible {
  width: 100px;
}

.hidden {
  margin-left: -100px;
}
