<div class="sidebar-wrapper">
  <div class="hamburger-wrapper" (click)="toggle()">
    test
  </div>
  <div id="sidebar" [ngClass]="visible ? 'show' : 'hide'">

    <div class="media">
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="icon">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="icon">
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="icon">
        <i class="fab fa-github"></i>
      </div>
    </div>
  </div>
</div>
