@import '../../../colors.scss';

.bar {
  text-align: center;
  width: 50px;
  color: $gray-2;
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  transform: translateY(-50%);

  .number {
    padding-bottom: 20px;
    cursor: pointer;
    transition: .2s;


    &:not(:first-child)::before {
      content: ' ';
      display: block;
      margin: 0 auto 20px;
      width: 90%;
      height: 1px;
      background-color: $gray-2;
    }

    &:hover {
      font-size: 1.6vw;
    }
  }

  .active {
    color: $primary-white-1;
    text-shadow: 0px 0px 2px rgb(236, 174, 3);
  }
}
