@import '../../colors.scss';
@import '../../shared.scss';

.timeline {
  width: 100%;
  position: relative;


  .image {
    width: 100%;
    height: auto;
  }

  .frame {
    width: 45%;
    max-width: 600px;
    margin-right: 55%;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .line {
    background-color: $primary-white-1;
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }

  .right {
    margin-right: auto;
    margin-left: 55%;
  }

  .box {
    width: 100%;
    position: relative;

    .dot {
      position: absolute;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: $primary-white-1;
      transition: .3s;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 767px) {
  .timeline {
    .line {
      left: 0;
    }

    .right {
      margin-left: auto;
    }

    .frame {
      margin-right: auto;
      padding-left: 50px;
      width: 100%;

      .dot {
        left: 0;
      }
    }
  }
}
