@import '../../styles/colors.scss';

#sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  text-align: center;
  background-color: $yellow;
  border-right: 1px solid $gray;
  transition: .5s;
  z-index: 1;
}

.visible {
  width: 100px;
}

.hidden {
  margin-left: -100px;
}

@media (max-width: 767px) {
  #sidebar {
    width: 60px;
  }
}
