@import 'colors.scss';

.section-header {
  display: inline-block;
  left: calc(50% + 20px);
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.3vw;
  font-size: 1em;
  color: $primary-white-1;
}
