@import '../../../colors.scss';

.wrapper {
  position: absolute;
  top: 50%;
  left: 25%;
  color: $primary-white-1;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 1px rgb(236, 174, 3);
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3vw;
  font-size: 3vw;
}

.subheader {
  margin-top: 10px;
  font-family: 'Istok Web', sans-serif;
  font-size: 1.5vw;
  text-align: right;

  &::before {
    content: ' ';
    width: 20px;
    height: 2px;
    background-color: $primary-white-1;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .wrapper {
    left: 50%;
  }

  .header {
    font-size: 5vw;
  }

  .subheader {
    font-size: 3vw;
  }
}
