@import '../../../styles/colors';

.hamburger-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100px;
  height: 100px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: $gray-2;
  }

  .hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    transform: translate(-50%, -50%);

    span {
      display: block;
      width: 33px;
      height: 2px;
      margin: 0 auto 8px;
      position: relative;
      background: $primary-white;
      border-radius: 3px;
      transition: .5s;
    }
  }
}

.active {
  background-color: $gray;

  span:nth-child(1) {
    transform: rotate(-45deg) translate(-11px, 2px);
  }

  span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  span:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -1px);
  }
}

@media (max-width: 767px) {
  .hamburger-wrapper {
    width: 60px;
    height: 60px;
  }

  .active {
    span:nth-child(1) {
      transform: rotate(-45deg) translate(-10px, 7px);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    span:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -2px);
    }
  }
}
